.Rproj.user
.Rhistory
*.RData
*.Rdata
*.pdf
*.csv
Biogeography.Rproj
No_Synch_Scripts
No_Synch_Data
No_Synch_Trees
No_Synch_Diagrams
subtree_plot_test.Rmd
subtree_plot_test.pdf
Cratopus_combined_SI.Rmd
Cratopus_combined_SI.pdf
test.Rmd
test.html
test.pdf
For_BEAST
*.trees
*.log
Biogeography_MCC.tree.pdf
assoc.csv
cophylo.svg
.ipynb_checkpoints
Prepare_Bayestrees.py
BEAST
Jupyter_notebooks
MrBayes_treesets
No_Synch_Dump
BioGeoBEARS_save_files
BioGeoBEARS_save_files_final_model
BioGeoBEARS_save_files_keep
BioGeoBEARS_save_files_keep2
BioGeoBEARS_save_files_model_testing
BSM_test
BSM_test_strat
Viper_BioGeoBEARS_save_files
SH_test.R
Model_BSM.R
Model_BSM_stratified.R
a_counts*
all_dispersals*
ana_dispersals*
d_counts*
e_counts*
example_1.gif
founder*
summary*
unique*
Figures