.Rproj.user
.Rhistory
.RData
Biogeography.Rproj
Cratopus_statistical_SI.pdf
.ipynb_checkpoints
No_Synch_Scripts
No_Synch_Data
No_Synch_Trees
No_Synch_Diagrams
Cratopus_combined_SI.pdf
Cratopus_combined_SI.Rmd
subtree_plot_test.Rmd
subtree_plot_test.pdf
Supplementary_Trees