.Rproj.user
.Rhistory
.RData
Biogeography.Rproj
No_Synch_Scripts
No_Synch_Data
No_Synch_Trees
No_Synch_Diagrams
subtree_plot_test.Rmd
subtree_plot_test.pdf
Cratopus_combined_SI.Rmd
Cratopus_combined_SI.pdf
test.Rmd
test.html
test.pdf
For_BEAST
.trees
.log